TBoT-PYenv/
TBoT-Twitch/TBOT.BDD.sqlite
tbot.html
TBoT-PZ/TBoT/texte.txt
TBoT-Twitch/tbot/__pycache__
TBoT-Twitch/__pycache__/tbot.cpython-311.pyc
TBoT-Twitch/tbot/tbot_bdd.sqlite
TEST/
TBoT-Twitch/__pycache__/
raid.json
tbot.html
DOCUMENTATION/~$stats.xlsx
journal.log
message_overlay.json
assets/chat.json
TBoT-PZ/TBoT/butin.txt
.vscode/
TBoT-PZ/TBoT/radio.txt
Config/Secret/config_Token_Client.json
Configuration/Secret/config_Token_Client copy.json
Configuration/config.json
Sqlite/tbot_bdd.sqlite
