body { background: #000;}

.cars{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100px;
	bottom: 0;
	position: fixed;
}

.cars > img {
	width: 100%;
}

.pseudoBox {
	display: flex;
    justify-content: center;
	padding-bottom: 0.5em;
}

.pseudo {
	z-index: 5;
}

.badge {
	width: 20%;
}

.renforts {
	white-space: nowrap;
}
.rotate {
	transform: scaleX(-1);
}

.car-line {
	z-index: -5;
	align-self: center;
	height: 50px;
	width: 2px;
}