.cars{
	text-align: center;
	width: 100px;
	bottom: 0;
	position: fixed;
	background: transparent;
}
.cars > img {
	width: 100%;
	background: transparent;
}
.pseudo {
	background: transparent;
}
.renforts {
	white-space: nowrap;
}
.rotate {
	transform: scaleX(-1);
}
