@font-face {
	font-family: 'FugazOne';
	src: url('FugazOne-Regular.ttf');
}
* {
	font-family: FugazOne;
}
.pseudo {
	color: #EB8603;
}
#box {
	position: absolute;
	inset: 0;
	top: auto;
	display: flex;
	flex-direction: column;
}
.message {
	font-size: 1em;
	color: white;
}



