@font-face {
	font-family: 'FugazOne';
	src: url('FugazOne-Regular.ttf');
}

* {
	font-family: FugazOne;
}
.cars{
	text-align: center;
	width: 100px;
	bottom: 0;
	position: fixed;
	background: transparent;
}
.cars > img {
	width: 100%;
	background: transparent;
}
.pseudo {
	background: transparent;
	font-size: 0.9em;
}
.renforts {
	white-space: nowrap;
	font-size: 0.7em;
}
.rotate {
	transform: scaleX(-1);
}
